In [1]:
import pandas as pd
dataset = pd.read_csv("/home/kavya/internship/sample_sales.csv")

In [2]:
dataset.shape

(9994, 13)

In [8]:
dataset.head()

,Row ID,Order ID,Order Date,Ship Date,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity
0,1,CA-2016-152156,08/11/2016,11/11/2016,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2
1,2,CA-2016-152156,08/11/2016,11/11/2016,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3
2,3,CA-2016-138688,12/06/2016,16/06/2016,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2
3,4,US-2015-108966,11/10/2015,18/10/2015,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5
4,5,US-2015-108966,11/10/2015,18/10/2015,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2

In [9]:
import pymysql

user = 'root'
passw = 'password'
host =  'localhost'
port = 3306
database = 'retail_sales'

connection = pymysql.connect(host=host,port=port,user=user,passwd=passw,db=database,charset='utf8')
cursor = connection.cursor()

In [12]:
import csv
with open('/home/kavya/internship/sample_sales.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    next(csv_reader)
    for row in csv_reader:
        cursor.execute('INSERT INTO sales(id,order_id,order_date,ship_date,country,city,state,postal_code,region,category,sub_category,sales,quantity)' 'VALUES(%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s,%s,%s)',row)

In [13]:
connection.commit()
cursor.close()
print('Imported!')

Imported!