In [12]:
# scipy
import scipy
print('scipy: %s' % scipy.__version__)
# numpy
import numpy
print('numpy: %s' % numpy.__version__)
# matplotlib
import matplotlib
print('matplotlib: %s' % matplotlib.__version__)
# pandas
import pandas
print('pandas: %s' % pandas.__version__)
# scikit-learn
import sklearn
print('sklearn: %s' % sklearn.__version__)
# statsmodels
import statsmodels
print('statsmodels: %s' % statsmodels.__version__)

scipy: 1.1.0
numpy: 1.15.4
matplotlib: 3.0.2
pandas: 0.23.4
sklearn: 0.20.1
statsmodels: 0.9.0

In [13]:
import mysql.connector as sql
import pandas as pd

In [14]:
db_connection = sql.connect(host='localhost', database='sales', user='root', password='password')

In [15]:
df = pd.read_sql('SELECT * FROM sales.retail_sales', con=db_connection)

In [16]:
df.shape

(88475, 11)

In [17]:
df.head()

,retailer_country,order_method_type,retailer_type,product_line,product_type,product,year,quarter,revenue,quantity,gross_margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2015,Q1 2015,59629,489,0.34754797
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2015,Q1 2015,35950,252,0.4742745
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2015,Q1 2015,89940,147,0.35277197
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2015,Q1 2015,165883,303,0.28293788
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2015,Q1 2015,119822,1415,0.29145017

In [ ]:
df.